.metadata {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .metadata__info {
    display: flex;
    flex-direction: column;
    .metadata__desc {
      h3 {
        color: black;
        font-weight: 350;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .metadata__buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .metadata__views {
        color: gray;
      }
    }
    .metadata__allbuttons {
      display: flex;
      text-align: center;
      * {
        margin-right: 10px;
      }
      .likes {
        margin-right: 20px;
      }
      .Button {
        color: gray;
      }
    }
  }
  hr {
    margin-top: 20px;
    height: 0.5px;
    color: lightgray;
  }
  .metadata__subscribe {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .metadata__userIcon {
      display: flex;
      .avatar {
        height: 40px;
        width: 40px;
      }
      .metadata__channelinfo {
        margin-left: 10px;
        h4 {
          font-weight: 600;
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .metadata__subscribeButton {
      button {
        padding: 8px 13px;
        margin-left: 10px;
        border: none;
        outline: none;
        cursor: pointer;
      }
      button:first-child {
        border: 1px solid #065fd4;
        color: #065fd4;
        background-color: white;
      }
      button:last-child {
        border: 1px solid red;
        color: white;
        background-color: red;
      }
    }
  }
  .metadata__text {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    .metadata__alltext {
      white-space: pre-line;
    }
    .metadata__anchor {
      display: block;
      text-decoration: none;
      color: gray;
      margin-top: 15px;
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
  .metadata {
    margin-top: 18px;
    .metadata__info {
      .metadata__desc {
        h3 {
          font-size: 16px;
          font-weight: 500;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
        }
      }
      .metadata__buttons {
        margin-top: 9px;
        .metadata__views {
          color: gray;
          font-size: 16px;
        }
      }
      .metadata__allbuttons {
        * {
          margin-right: 9px;
        }
        .likes {
          margin-right: 18px;
        }
        .Button {
          color: gray;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    hr {
      margin-top: 18px;
    }
    .metadata__subscribe {
      margin-top: 19px;
      .metadata__userIcon {
        .avatar {
          height: 35px;
          width: 35px;
        }
        .metadata__channelinfo {
          margin-left: 10px;
          h4 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .metadata__subscribeButton {
        button {
          padding: 5px 11px;
          font-size: 12px;
          margin-left: 9px;
        }
      }
    }
    .metadata__text {
      margin-left: 48px;
      .metadata__alltext {
        font-size: 13px;
      }
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 599px) {
  .metadata {
    margin-top: 13px;
    .metadata__info {
      .metadata__desc {
        h3 {
          font-weight: 500;
          font-size: 16px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 1;
        }
      }
      .metadata__buttons {
        margin-top: 8px;
        .metadata__views {
          color: gray;
          font-size: 16px;
        }
      }
      .metadata__allbuttons {
        * {
          margin-right: 9px;
        }
        .likes {
          margin-right: 18px;
        }
        .Button {
          color: gray;
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    hr {
      margin-top: 14px;
    }
    .metadata__subscribe {
      margin-top: 15px;
      .metadata__userIcon {
        .avatar {
          height: 35px;
          width: 35px;
        }
        .metadata__channelinfo {
          margin-left: 10px;
          h4 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .metadata__subscribeButton {
        button {
          padding: 5px 11px;
          font-size: 12px;
          margin-left: 9px;
        }
      }
    }
    .metadata__text {
      margin-left: 48px;
      .metadata__alltext {
        font-size: 13px;
      }
    }
  }
}
@media only screen and (min-width: 400px) and (max-width: 499px) {
  .metadata {
    margin-top: 11px;
    .metadata__info {
      .metadata__desc {
        h3 {
          font-weight: 500;
          font-size: 14px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
        }
      }
      .metadata__buttons {
        margin-top: 7px;
        .metadata__views {
          color: gray;
          font-size: 13px;
        }
      }
      .metadata__allbuttons {
        * {
          margin-right: 7px;
        }
        .likes {
          margin-right: 14px;
        }
        .Button {
          color: gray;
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    hr {
      margin-top: 14px;
    }
    .metadata__subscribe {
      margin-top: 13px;
      .metadata__userIcon {
        .avatar {
          height: 30px;
          width: 30px;
        }
        .metadata__channelinfo {
          margin-left: 10px;
          h4 {
            font-size: 12px;
          }
          p {
            font-size: 11px;
          }
        }
      }
      .metadata__subscribeButton {
        button {
          padding: 5px 8px;
          font-size: 10px;
          margin-left: 7px;
        }
      }
    }
    .metadata__text {
      margin-left: 40px;
      .metadata__alltext {
        font-size: 12px;
      }
    }
  }
}
@media only screen and (min-width: 300px) and (max-width: 399px) {
  .metadata {
    margin-top: 10px;
    .metadata__info {
      .metadata__desc {
        h3 {
          font-size: 11px;
          font-weight: 500;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
        }
      }
      .metadata__buttons {
        margin-top: 6px;
        .metadata__views {
          color: gray;
          font-size: 11px;
        }
      }
      .metadata__allbuttons {
        * {
          margin-right: 5px;
        }
        .likes {
          margin-right: 11px;
        }
        .Button {
          color: gray;
          font-size: 14px;
        }
        p {
          font-size: 10px;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
      }
    }
    hr {
      margin-top: 10px;
    }
    .metadata__subscribe {
      margin-top: 10px;
      .metadata__userIcon {
        .avatar {
          height: 25px;
          width: 25px;
        }
        .metadata__channelinfo {
          margin-left: 8px;
          h4 {
            font-size: 10px;
          }
          p {
            font-size: 9px;
          }
        }
      }
      .metadata__subscribeButton {
        button {
          padding: 4px 4px;
          font-size: 8px;
          margin-left: 4px;
        }
      }
    }
    .metadata__text {
      margin-left: 32px;
      .metadata__alltext {
        font-size: 9px;
      }
    }
  }
}
