.video {
  margin: 5px;
  margin-bottom: 25px;
  max-width: 450px;
  min-width: 300px;
  flex-grow: 1;
  flex: 1;
  height: fit-content;
  display: inline-block;
  .video__top {
    position: relative;
    width: 100%;
    height: 67%;
    img {
      cursor: pointer;
      width: 100%;
      object-fit: contain;
    }
    span {
      background-color: black;
      color: white;
      padding: 1px 4px;
      position: absolute;
      font-size: 12px;
      bottom: 5px;
      right: 5px;
    }
  }
  .video__title {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    img {
      cursor: pointer;
      border-radius: 100%;
      width: 40px;
      height: 40px;
    }
    p {
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-left: 8px;
      font-weight: 600;
    }
  }
  .video__channel {
    margin-left: 48px;
    color: gray;
  }
  .video__details {
    margin-left: 48px;
    color: gray;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1470px) {
  .video {
    min-width: 250px;
    margin-bottom: 20px;
    .video__title {
      margin-top: 8px;
      img {
        width: 30px;
        height: 30px;
      }
      p {
        margin-left: 8px;
        font-size: 14px;
      }
    }
    .video__channel {
      margin-left: 40px;
      font-size: 13px;
    }
    .video__details {
      margin-left: 40px;
      font-size: 13px;
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .video {
    min-width: 250px;
    .video__title {
      img {
        width: 26px;
        height: 26px;
      }
      p {
        margin-left: 8px;
        font-size: 14px;
      }
    }
    .video__channel {
      margin-left: 35px;
      font-size: 13px;
    }
    .video__details {
      margin-left: 35px;
      font-size: 13px;
    }
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .video {
    min-width: 215px;
    .video__title {
      img {
        width: 26px;
        height: 26px;
      }
      p {
        margin-left: 8px;
        font-size: 14px;
      }
    }
    .video__channel {
      margin-left: 35px;
      font-size: 13px;
    }
    .video__details {
      margin-left: 35px;
      font-size: 13px;
    }
  }
}
@media only screen and (min-width: 700px) and (max-width: 999px) {
  .video {
    max-width: 300px;
    min-width: 190px;
    .video__title {
      img {
        width: 23px;
        height: 23px;
      }
      p {
        margin-left: 8px;
        font-size: 12px;
      }
    }
    .video__channel {
      margin-left: 30px;
      font-size: 11px;
    }
    .video__details {
      margin-left: 30px;
      font-size: 11px;
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 699px) {
  .video {
    max-width: 280px;
    min-width: 200px;
    .video__title {
      img {
        width: 30px;
        height: 30px;
      }
      p {
        margin-left: 8px;
        font-size: 14px;
      }
    }
    .video__channel {
      margin-left: 35px;
      font-size: 14px;
    }
    .video__details {
      margin-left: 35px;
      font-size: 14px;
    }
  }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .video {
    max-width: 280px;
    min-width: 200px;
    .video__title {
      img {
        width: 25px;
        height: 25px;
      }
      p {
        margin-left: 8px;
        font-size: 12px;
      }
    }
    .video__channel {
      margin-left: 35px;
      font-size: 11px;
    }
    .video__details {
      margin-left: 35px;
      font-size: 11px;
    }
  }
}
@media only screen and (min-width: 250px) and (max-width: 499px) {
  .video {
    min-width: 200px;
    margin: 5px 4px;
    .video__title {
      img {
        width: 25px;
        height: 25px;
      }
      p {
        margin-left: 8px;
        font-size: 12px;
      }
    }
    .video__channel {
      margin-left: 35px;
      font-size: 11px;
    }
    .video__details {
      margin-left: 35px;
      font-size: 11px;
    }
  }
}
