.video {
  margin-bottom: 10px;
  margin-right: 5px;
  width: 100%;
  height: fit-content;
  display: inline-block;
  .video__top {
    position: relative;
    width: 100%;
    height: 67%;
    img {
      cursor: pointer;
      width: 100%;
      object-fit: contain;
    }
    span {
      background-color: black;
      color: white;
      padding: 1px 4px;
      position: absolute;
      font-size: 12px;
      bottom: 5px;
      right: 5px;
    }
  }
  .video__title {
    width: 100%;
    max-width: 330px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    img {
      cursor: pointer;
      border-radius: 100%;
      width: 40px;
      height: 35px;
    }
    p {
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-left: 8px;
      font-weight: 600;
    }
  }
  .video__channel {
    margin-left: 48px;
    color: gray;
  }
  .video__details {
    margin-left: 48px;
    color: gray;
  }
}
