.watchScreen {
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-gap: 15px;
  padding: 30px 50px;
  background-color: #f9f9f9;
  .watchScreen__player {
    flex: 0.66;
    min-width: 600px;
    iframe {
      width: 100%;
    }
    margin-bottom: 1rem;
  }
  .watchScreen_related {
    width: 100%;
    flex: 0.34;
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  .watchScreen {
    padding: 30px 30px;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 300px) and (max-width: 499px) {
  .watchScreen {
    padding: 20px 15px;
  }
}
