.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15px 10px 15px;
}

.header .header__left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__left .header__logo {
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 10px;
}

.header .header__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__input .header__inputArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgray;
}

.header .header__input .header__inputArea .header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.header .header__input .header__inputArea input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  padding: 5px 0px 5px 12px;
  width: 30vw;
  max-width: 560px;
}

.header .header__input .header__mic {
  margin-left: 6px;
  color: gray;
}

.header .header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__icons .header__icon {
  color: gray;
}

.header .header__icons .header__Avatar {
  margin-left: 6px;
}

@media only screen and (min-width: 330px) and (max-width: 8000px) {
  .header .header__input {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (min-width: 560px) and (max-width: 800px) {
  .header {
    padding: 5px 10px 5px 10px;
  }
  .header .header__left .header__logo {
    height: 20px;
    margin-left: 0px;
  }
  .header .header__left .header__menuIcon {
    font-size: 1.2rem !important;
  }
  .header .header__input {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header .header__input .header__inputArea .header__inputButton {
    width: 40px !important;
    font-size: 1.2rem !important;
  }
  .header .header__input .header__inputArea input {
    height: 23px;
    padding: 4px 0px 4px 8px;
  }
  .header .header__input .header__mic {
    font-size: 1.2rem !important;
    margin-left: 0px;
  }
  .header .header__icons .header__icon {
    font-size: 1.2rem !important;
  }
  .header .header__icons .header__Avatar {
    width: 30px !important;
    height: 30px !important;
  }
  .header .header__icons .header__iconButton {
    padding: 8px !important;
  }
}

@media only screen and (min-width: 560px) and (max-width: 800px) {
  .header {
    padding: 5px 10px 5px 10px;
  }
  .header .header__left .header__logo {
    height: 20px;
    margin-left: 0px;
  }
  .header .header__left .header__menuIcon {
    font-size: 1.2rem !important;
  }
  .header .header__input {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header .header__input .header__inputArea .header__inputButton {
    width: 40px !important;
    font-size: 1.2rem !important;
  }
  .header .header__input .header__inputArea input {
    height: 23px;
    padding: 4px 0px 4px 8px;
  }
  .header .header__input .header__mic {
    font-size: 1.2rem !important;
    margin-left: 0px;
  }
  .header .header__icons .header__icon {
    font-size: 1.2rem !important;
  }
  .header .header__icons .header__Avatar {
    width: 30px !important;
    height: 30px !important;
  }
  .header .header__icons .header__iconButton {
    padding: 8px !important;
  }
}

@media only screen and (min-width: 460px) and (max-width: 559px) {
  .header {
    padding: 5px 7px 5px 7px;
  }
  .header .header__left .header__logo {
    height: 15px;
    margin-left: 0px;
  }
  .header .header__left .header__menuIcon {
    font-size: 1rem !important;
  }
  .header .header__input {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header .header__input .header__inputArea {
    height: 25px;
  }
  .header .header__input .header__inputArea input {
    height: 20px;
    padding: 0px 0px 0px 5px;
    font-size: 0.7rem;
  }
  .header .header__input .header__inputArea .header__inputButton {
    font-size: 1rem !important;
    width: 40px !important;
  }
  .header .header__input .header__mic {
    margin-left: 0px;
    font-size: 1.1rem;
  }
  .header .header__icons .header__icon {
    font-size: 1rem !important;
  }
  .header .header__icons .header__Avatar {
    width: 25px !important;
    height: 25px !important;
  }
  .header .MuiIconButton-root {
    padding: 8px !important;
  }
}

@media only screen and (min-width: 330px) and (max-width: 459px) {
  .header {
    padding: 5px 7px 5px 7px;
  }
  .header .header__left {
    margin-right: 6px;
  }
  .header .header__left .header__logo {
    height: 12px;
    margin-left: 0px;
  }
  .header .header__left .header__menuIcon {
    font-size: 0.8rem !important;
  }
  .header .header__input {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header .header__input .header__inputArea {
    height: 20px;
  }
  .header .header__input .header__inputArea input {
    height: 18px;
    padding: 0px 0px 0px 5px;
    font-size: 0.7rem;
  }
  .header .header__input .header__inputArea .header__inputButton {
    font-size: 0.8rem !important;
    width: 30px !important;
  }
  .header .header__input .header__mic {
    margin-left: 0px;
    font-size: 0.9rem;
  }
  .header .header__icons .header__icon {
    font-size: 0.9rem !important;
  }
  .header .header__icons .header__Avatar {
    width: 21px !important;
    height: 21px !important;
  }
  .header .MuiIconButton-root {
    padding: 5px !important;
  }
}

@media only screen and (min-width: 250px) and (max-width: 329px) {
  .header {
    padding: 5px 7px 5px 7px;
  }
  .header .header__left .header__logo {
    height: 20px;
    margin-left: 0px;
  }
  .header .header__left .header__menuIcon {
    font-size: 1.1rem !important;
  }
  .header .header__input {
    display: none;
  }
  .header .header__icons .header__icon {
    font-size: 1.1rem !important;
  }
  .header .header__icons .header__Avatar {
    width: 25px !important;
    height: 25px !important;
  }
  .header .header__icons .responsive__search {
    display: inline-block !important;
  }
  .header .MuiIconButton-root {
    padding: 6px !important;
  }
}
/*# sourceMappingURL=Header.css.map */