.sidebar {
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2;
  flex: 0.2;
  max-width: 200px;
  height: 100%;
  position: sticky;
  background-color: white;
  z-index: 99;
  left: 0;
  top: 58px;
  display: flex;
  flex-direction: column;
}
.sidebar hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1px) and (max-width: 1300px) {
  .sidebar hr {
    display: none;
  }
  .sidebar {
    -webkit-box-flex: 0.05;
    -ms-flex: 0.05;
    flex: 0.05;
  }
  .close {
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
  }
  .open {
    transform: translateX(0%);
    transition: transform 0.4s ease-out;
  }
}
@media only screen and (min-width: 1px) {
  .sidebar {
    display: none;
  }
}
