.sidebarrow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.sidebarrow__icon {
  color: #606060;
  font-size: large !important;
}
.sidebarrow__text {
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
.sidebarrow:hover {
  background-color: rgb(238, 237, 237);
  cursor: pointer;
}
.sidebarrow:hover > .sidebarrow__text {
  font-weight: 600;
}
.selectedRow {
  background-color: rgb(197, 196, 196) !important;
}
.selectedRow > .sidebarrow__icon {
  color: red !important;
}
.selectedRow > .sidebarrow__text {
  font-weight: 630 !important;
}
@media only screen and (min-width: 1300px) {
  .closeSidebar .sidebarrow__text {
    font-size: 8px;
    margin-left: 0px;
  }
  .closeSidebar .sidebarrow {
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px;
    width: 60px;
  }
  .closeSidebar .sidebarrow__icon {
    font-size: 1.35rem !important;
  }
  .closeSidebar .selectedRow {
    background-color: white !important;
  }
  .closeSidebar .hideonsmalldevice {
    display: none;
  }
}
@media only screen and (min-width: 560px) and (max-width: 1300px) {
  .sidebarrow__text {
    font-size: 8px;
    margin-left: 0px;
  }
  .sidebarrow {
    justify-content: center;
    flex-direction: column;
    padding: 10px 15px;
  }
  .sidebarrow__icon {
    font-size: 1.35rem !important;
  }
  .selectedRow {
    background-color: white !important;
  }
  .hideonsmalldevice {
    display: none;
  }
  .hiddenSidebar {
    width: 71.91px;
  }
  .sidebar {
    width: 71.91px;
  }
}
@media only screen and (min-width: 460px) and (max-width: 559px) {
  .sidebarrow__text {
    font-size: 6px;
    margin-left: 0px;
  }
  .sidebarrow {
    justify-content: center;
    flex-direction: column;
    padding: 10px 7px;
  }
  .sidebarrow__icon {
    font-size: 1rem !important;
  }
  .selectedRow {
    background-color: white !important;
  }
  .hideonsmalldevice {
    display: none;
  }
  .hiddenSidebar {
    width: 45.44px;
  }
  .sidebar {
    width: 45.44px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 459px) {
  .sidebarrow__text {
    font-size: 5px;
    margin-left: 0px;
  }
  .sidebarrow {
    justify-content: center;
    flex-direction: column;
    padding: 10px 5px;
  }
  .sidebarrow__icon {
    font-size: 0.8rem !important;
  }
  .selectedRow {
    background-color: white !important;
  }
  .hideonsmalldevice {
    display: none;
  }
  .hiddenSidebar {
    width: 36.2px;
  }
  .sidebar {
    width: 36.2px;
  }
}

.selectedRow > .drawersidebarrow__icons {
  color: red !important;
}
.selectedRow > .drawersidebarrow__text {
  font-weight: 630 !important;
}

/* drawer */
.drawer {
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  z-index: 200;
  background-color: white;
  top: 0;
}
.drawersidebarrow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 200px;
}
.drawer hr {
  width: 200px;
  margin: 10px 0px;
}
.drawerheader {
  display: flex;
  align-items: center;
  padding: 5px 20px 10px 10px;
  width: 200px;
}
.drawer__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 10px;
}
.drawersidebarrow__icons {
  color: #606060;
  font-size: large !important;
}
.drawersidebarrow__text {
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
.drawersidebarrow:hover {
  background-color: rgb(238, 237, 237);
  cursor: pointer;
}
.drawersidebarrow:hover > .sidebarrow__text {
  font-weight: 600;
}

@media only screen and (min-width: 560px) and (max-width: 800px) {
  .drawersidebarrow {
    padding: 10px 14px 10px 25px;
    width: 170px;
  }
  .drawer hr {
    width: 170px;
    margin: 10px 0px;
  }
  .drawerheader {
    padding: 5px 20px 10px 14px;
    width: 170px;
  }
  .drawer__logo {
    height: 20px;
    margin-left: 0px;
  }
  .drawer__menuIcon {
    font-size: 1.2rem !important;
  }
  .drawersidebarrow__text {
    font-size: 13px;
  }
  .drawersidebarrow:hover > .sidebarrow__text {
    font-weight: 550;
  }
}
@media only screen and (min-width: 460px) and (max-width: 559px) {
  .drawersidebarrow {
    padding: 7px 10px 7px 18px;
    width: 150px;
  }
  .drawer hr {
    width: 150px;
    margin: 10px 0px;
  }
  .drawerheader {
    padding: 5px 20px 10px 7px;
    width: 150px;
  }
  .drawer__logo {
    height: 15px;
    margin-left: 0px;
  }
  .drawer__menuIcon {
    font-size: 1rem !important;
  }
  .drawersidebarrow__text {
    font-size: 10px;
  }
  .drawersidebarrow:hover > .sidebarrow__text {
    font-weight: 500;
  }
}
@media only screen and (min-width: 330px) and (max-width: 459px) {
  .drawersidebarrow {
    padding: 7px 10px 7px 10px;
    width: 130px;
  }
  .drawer hr {
    width: 130px;
    margin: 10px 0px;
  }
  .drawerheader {
    padding: 5px 20px 10px 7px;
    width: 130px;
  }
  .drawer__logo {
    height: 12px;
    margin-left: 0px;
  }
  .drawer__menuIcon {
    font-size: 0.8rem !important;
  }
  .drawerheader .MuiIconButton-root {
    padding: 5px !important;
  }
  .drawersidebarrow__text {
    font-size: 8px;
  }
  .drawersidebarrow__icons {
    font-size: 0.8rem !important;
  }
}
@media only screen and (min-width: 250px) and (max-width: 329px) {
  .drawersidebarrow {
    padding: 7px 10px 7px 10px;
    width: 130px;
  }
  .drawer hr {
    width: 130px;
    margin: 10px 0px;
  }
  .drawerheader {
    padding: 10px 20px 10px 5px;
    width: 130px;
  }
  .drawer__logo {
    height: 20px;
    margin-left: 0px;
  }
  .drawer__menuIcon {
    font-size: 1.1rem !important;
  }
  .drawerheader .MuiIconButton-root {
    padding: 5px !important;
  }
  .drawersidebarrow__text {
    font-size: 10px;
  }
  .drawersidebarrow__icons {
    font-size: 1rem !important;
  }
}
