.recommended {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .recommended__videos {
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 15px;
    background-color: #f9f9f9;
  }
}
